body {
  background-image: url('../Images/fruitgenhance.jpg');
  background-position: 70% 50%%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  position: absolute;
  left: 56px;
  width: 448px;
  background-color: #AB82FF;
  opacity: .9;
}

img {
  width: 2rem;
  height: 2rem;
}

.card .card-content p {
  margin-bottom: 12px;
}

#name {
  font-size: 56px;
  color: #A5F084;
  margin-bottom: 0px;
}

#summary {
  font-size: 19px;
  color:#68B347;
}
